{%- for message in messages -%}
    {%- if message['role'] == 'user' -%}
        {{- '<s>[INST] Write code to solve the following coding problem that obeys the constraints and passes the example test cases. Please wrap your code answer using```:\n' + message['content'] -}}
    {%- elif message['role'] == 'assistant' -%}
        {{- '[/INST] ' + message['content'] + '</s>' -}}
    {%- endif -%}
    {%- if (loop.last and add_generation_prompt) or not loop.last -%}
        {{- '\n' -}}
    {%- endif -%}
{%- endfor -%}


{%- if add_generation_prompt and messages[-1]['role'] != 'assistant' -%}
    {{- '[/INST] ' -}}
{% endif %}